<?xml version="1.0" encoding="UTF-8"?>
<!-- 只需配置好 log.dir 和 projectname 属性-->
<configuration debug="true">
	<property name="log.dir" value="/guanguai/" />
	<property name="projectname" value="guanguai" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="infoAppender"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/${projectname}.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印INFO日志 -->
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/logs/${projectname}-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="errorAppender"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/monitor_${projectname}_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/logs/${projectname}-error-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<!--<appender-ref ref="warnAppender" />-->
		<appender-ref ref="infoAppender" />	
	</logger>
	<logger name="org.springframework">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<!--<appender-ref ref="warnAppender" />-->
		<appender-ref ref="infoAppender" />	
	</logger>
	<logger name="com.yingzi">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<!--<appender-ref ref="warnAppender" />-->
		<appender-ref ref="infoAppender" />		
	</logger>

	<logger name="com.netflix">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<!--<appender-ref ref="warnAppender" />-->
		<appender-ref ref="infoAppender" />
	</logger>


	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>